/* Common elements including sizing effect (mobile application) */
main{
    padding: 50px;
}

h1{
    text-align: center;
    font-family: "Myanmar MN", cursive;
}

h3{
    text-align: center;
    font-family: 'Helvetica Neue',serif;
}

body{
    margin: 0;
    background-color: orange;
}

p{
    font-family: "Avenir Next Condensed", cursive;
}

.italics{
    font-style: italic;
}

.red-text{
    color: red;
    font-family: "Euphemia UCAS";
}

.blue-text{
    color: blue;
    font-family: "Euphemia UCAS";
}

/* page sizing effect (mobile application) */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(11, minmax(30px, 1fr)); /* Adjust column sizes */
    }

    body {
        background-color: darkorange;
    }

    .cell, .header, .row-header {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(11, minmax(20px, 1fr));
    }

    body {
        background-color: rgba(255, 128, 0, 0.83);
    }

    .cell, .header, .row-header {
        font-size: 0.6rem; /* Further reduce font size */
    }
}
