.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: lightskyblue;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: orange;
    cursor: pointer;
}

.ship {
    background-color: darkgray;
}

.hit {
    background-color: lightgreen;
}

.miss {
    background-color: lightcoral;
}

.restart-button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: darkgray;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.ship-selection {
    display: flex;
    flex-direction: column;
}

.ship-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Gray background */
    padding: 10px 15px; /* Padding around the content */
    margin-bottom: 10px; /* Space between ships */
    width: 100%; /* Ensures the background stretches across */
    border-radius: 5px; /* Optional: adds rounded corners */
}

.ship-button {
    margin-left: 10px; /* Adjust spacing between ship name and button */
}
